*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
docs/startupcentral-tables.sql
application/config/database.php
application/config/recaptcha.php
application/config/email.php
.DS_Store
